
body {
  background-color: #EDF0DA;
  padding: 2em;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 30px;
  font-size: 3rem;
}

h2 {
  font-family: 'Georgia';
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
}

summary {
  font-family: 'Courier New', Courier, monospace;
  color: black; /* Sets the text color of all paragraphs to blue */
  font-size: 1.25rem; /* Sets the font size of all paragraphs to 16 pixels */
  margin-bottom: 2.5em; /* Adds a bottom margin to separate paragraphs */
  text-align: left;
}

p {
  margin-left: 30vw; /* Adjust the value for desired margin */
  margin-right: 30vw; /* Adjust the value for desired margin */
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black; /* Sets the text color of all paragraphs to blue */
  font-size: 1.25rem; /* Sets the font size of all paragraphs to 16 pixels */
  margin-bottom: 2.5em; /* Adds a bottom margin to separate paragraphs */
  text-align: left;
}

.wrapper p {
  margin-left: 0vw; /* Adjust the value for desired margin */
  margin-right: 0vw; /* Adjust the value for desired margin */
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black; /* Sets the text color of all paragraphs to blue */
  font-size: 1.25rem; /* Sets the font size of all paragraphs to 16 pixels */
  margin-bottom: 2.5em; /* Adds a bottom margin to separate paragraphs */
  text-align: left;
}

.content-warning {
  margin-left:5vw;
  margin-right:5vw;
  font-size:1.1rem;
}

#graphic1 {width:70vw}
#graphic2 {width:70vw}
#graphic3 {width: 60vw}
#graphic4 {width: 25vw}
#graphic5 {width: 20vw}

/* Container for the whole scrollytelling section */
#scrolly {
  display: flex;
  width: 100%;
  min-height: 200vh; /* ensure enough height for scrolling */
  gap: 2rem;
}

/* Sticky graphic container */
.scroll-graphic {
  width: 1000px;             /* adjust width as needed */
  position: sticky;       /* keeps iframe pinned while scrolling */
  top: 20px;
  left: 30px;              /* distance from top of viewport */
  align-self: start;      /* aligns sticky container at top */
  height: 800px;          /* match your iframe height */
  display: flex;
  justify-content: center;
}

#plots {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay-iframe0 {
  position: absolute; /* Allows precise positioning */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Optional: remove default iframe border */
}
.overlay-iframe1 {
  position: absolute; /* Allows precise positioning */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Optional: remove default iframe border */
}
.overlay-iframe2 {
  position: absolute; /* Allows precise positioning */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Optional: remove default iframe border */
}

#plot-0 {
  opacity: 1;
  pointer-events: auto; /* allow interaction on first one */
}
#plot-1 {
  opacity: 0;
  pointer-events: none; /* allow interaction on first one */
}
#plot-2 {
  opacity: 0;
  pointer-events: none; /* allow interaction on first one */
}

#plot-3 {
  opacity: 1;
  pointer-events: auto; /* allow interaction on first one */
}
#plot-4 {
  opacity: 0;
  pointer-events: none; /* allow interaction on first one */
}
#plot-5 {
  opacity: 0;
  pointer-events: none; /* allow interaction on first one */
}
#plot-6 {
  opacity: 0;
  pointer-events: none; /* allow interaction on first one */
}


/* Story text container */
#story {
  width: 40%;             /* takes remaining width */
  padding: 0rem;
}

/* Each step section */
.step {
  margin: 50vh 0;         /* vertical spacing to trigger Scrollama */
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  text-align: center; 
  border-color: black;
  justify-content: space-between;
}

.main {
  max-width: 500px;
  text-align: center;
}

.aside {

}

@media all and (min-width: 600px) {
  .aside-1 { flex: 0 0 25vw; order: 1; } 
  .main    { flex: 1 0 50vw; order: 2; }
  .aside-2 { flex: 0 0 25vw; order: 3; }
}

@media all and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
}

a {
  color: black;
}
