body {
    background-color:rgb(85, 107, 47);
}
h1 {
    background-color:rgba(255, 77, 0,0.5);
    color:orangered;
    font-size:60px;
    font-family:monospace;
    text-align:center;
}
h2 {
    color:deeppink;
    font-family: monospace;
}
p {
    background-color: skyblue;
    font-family: monospace;

/* Navbar style settings: */

}
ul {
    position: fixed;
    top:0;
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 3%;
    overflow: hidden;
    background-color: #ffffff00;
  }
li {
    float: left;
  }
li a {
    display: block;
    color: white;
    font-family: monospace;
    font-size: 1.6vw;
    text-align: center;
    padding: 10% 15%;
    text-decoration: none;
  }
li a:hover {
    color:black;
  }