body {
    background-color:orange
}
h1 {
    background-color:rgba(255, 77, 0,0.5);
    color:orangered;
    font-size:60px;
    font-family:monospace;
    text-align:center;
}
h2 {
    color:deeppink;
    font-family: monospace;
}
p {
    background-color: skyblue;
    font-family: monospace;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
  }